@media screen and (min-width: 1800px) {

    /*Footer*/
    .footerContactSec { gap:40px 120px;} 
    .footerContent{gap: 120px;}

}

@media screen and (min-width: 1600px) {

    /*Header*/
    .navLinksList{gap:90px;}

    /*Footer*/
    .phoneSec{justify-content: space-between;}
    .socialMediaLinksSec{justify-content: space-between;}


    /*Pellini Details*/
    .pelliniDetailsContent{padding-right: 160px;}

    /*Brochure*/
    .BrochureContent {right: 0px; }

   
}

@media screen and (min-width: 1440px) {
    /*Header*/
    .navLinksList{gap:60px;}
    .headerWrap.scrolled .headerNavLinks .navLinksList{gap:50px;}

    /*marquee*/
    .marqueeWrap{padding:80px 0;}
    .marqueeItem span{font-size: 160px;}

    /*Brochure*/
    .BrochureContent {max-width: 445px;}

    /*footer*/
    .footerLogoSec{gap: 30px;}
    .footerLogoSec{max-width: 100%;}
}

@media screen and (min-width: 1300px) {



}

@media screen and (max-width: 1200px) {
    
    /*Footer*/
    .footerContactSec {grid-template-columns: repeat(2, 1fr);}
    .newsletterSec {grid-column: auto;}
    .footerContactSec{gap: 40px 80px;}
    .socialMediaLinksSec,.phoneSec{gap: 25px;}
                                              
}


@media only screen and (max-width: 991px) {

    /*Brochure*/
    /* .BrochureBg{display: none;} */
    .BrochureContent{right: 0%;}
 

    /*Footer*/
    .footerWrap{padding: 60px 0 35px;}
    .footerContent{flex-direction: column;gap: 45px;}    
   
}

@media only screen and (max-width: 767px) {   
}

@media only screen and (max-width: 479px) { 

}

@media only screen and (max-width: 320px) {
}
