@media screen and (min-width: 1800px) {

    /*Footer*/
    .footerContactSec { gap:40px 120px;} 
    .footerContent{gap: 120px;}

}

@media screen and (min-width: 1600px) {

    /*Header*/
    .navLinksList{gap:90px;}

    /*Footer*/
    .phoneSec{justify-content: space-between;}
    .socialMediaLinksSec{justify-content: space-between;}


    /*Pellini Details*/
    .pelliniDetailsContent{padding-right: 160px;}

    /*Brochure*/
    .BrochureContent {right: 0px; }

   
}

@media screen and (min-width: 1440px) {
    /*Header*/
    .navLinksList{gap:60px;}
    .headerWrap.scrolled .headerNavLinks .navLinksList{gap:50px;}

    /*marquee*/
    .marqueeWrap{padding:80px 0;}
    .marqueeItem span{font-size: 160px;}

    /*Brochure*/
    .BrochureContent {max-width: 445px;}
}

@media screen and (min-width: 1300px) {



}

@media screen and (max-width: 1200px) {}


@media only screen and (max-width: 991px) {

    /*footer*/
    .footerContent{flex-direction: column;}  
    
    /*blogs*/
    .blogsBody{grid-template-columns: repeat(2, 1fr);}
   
}

@media only screen and (max-width: 767px) {  
    
    /*blogs*/
    .blogsBody{grid-template-columns: repeat(1, 1fr);}
    .footerContactSec{display: flex;flex-direction: column;}

    .whoWeAreImages .imageLeft, .whoWeAreImages .imageRight{min-width: 100px;}
}

@media only screen and (max-width: 479px) { 

}

@media only screen and (max-width: 320px) {
}