/*Header*/
.headerWrap{position: fixed;top: 0;left: 0;width: 100%;z-index: 999;color: var(--yellow);background: linear-gradient( to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) );}
.headerWrap.scrolled{backdrop-filter:blur(2px);}
.headerWrap > .container{width:100%}
.headerSec{display:flex;justify-content:space-between;padding: 35px 0 0;height: 135px;}
.headerWrap.scrolled .headerSec{padding: 30px 0 0;height: 100px;}
.navLinksList{display:flex;gap:90px;transition:gap .3s ease;height: 100px;}
.headerWrap.scrolled .headerNavLinks .navLinksList{gap:60px;height: 60px;}
.navLinksList > li{display: block;}
.navLinksList > li > a{font-size: 20px;line-height: 1em;}
.homeLink{position: relative;}
.homeLink::before{content:"";position: absolute;top: -15px;left: 50%;transform: translateX(-50%);background-image: url(/images/common/home-icon.png);background-repeat: no-repeat;background-position: center center;width: 20px;height: 20px;}
.headerLogoSec{position: relative;}
.headerLogo > img{max-width: 120px;position: relative;top: -25px;transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.headerWrap.scrolled .headerLogo > img{transform:scale(0.75);top:-40px}
.hamburger{display:flex;flex-direction:column;gap:9px;cursor:pointer}
.hamburger span{display:block;width:30px;height:2px;background:var(--yellow);transition:all .3s ease}
.hamburger span.mrgnLft{margin-left:8px;}
.headerWrap.scrolled .hamburger span{width:24px}
.talkWithUsSec{width: 38px;position: relative;}
.talkWithUsSec span{font-size: 18px;line-height: 1.4em;font-weight:500;text-align: right;display: block;}
.talkWithUsIcon{position: absolute;bottom: 30px;left: -15px;}
.headerWrap.scrolled .talkWithUsSec span{font-size: 16px;line-height: 1.3em;}
.headerWrap.scrolled .talkWithUsIcon{position: absolute;bottom: 10px;left: -15px;}

/*Footer*/
.footerContent{display: flex;gap: 120px;padding-bottom: 60px;}
.footerLogoSec{display: flex;gap: 30px;}
.footerContactSec { display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, 1fr); gap:40px 120px;width: 100%;} 
.footerLinkSec { grid-row: span 2 / span 2; } 
.newsletterSec { grid-column: span 3 / span 3; grid-column-start: 2; }
.footerLinkWrap{display: flex;width: 100%;justify-content: space-between;}
.footerLinkNav > li > a{display: block;font-size: 18px;line-height: 1em;margin-bottom: 20px;font-weight: 300;transition:  text-shadow 0.3s ease;}
.footerLinkNav > li:last-child > a{margin-bottom: 0;}
.footerLinkNav > li > a:hover{text-shadow: 0 0 2px currentColor;  }
.footerContactDetails{display: flex;gap: 60px;justify-content: space-between;}
.addressSec > p{font-size: 18px;line-height: 1.8em;}
.addressSec > p > em{font-style: normal;display: block;}
.phoneSec{display: flex;flex-direction: column;justify-content: space-between;}
.phoneSec > a{font-size: 18px;line-height: 1em;}
.socialMediaLinksSec{display: flex;flex-direction: column;justify-content: space-between;}
.socialMediaLinksSec > span{font-size: 18px;line-height: 1em;font-weight: 500;}
.socialMediaLinks{display: flex;gap: 25px;}
.socialMediaLinks > a .socailMediaLogo{transition: all 0.5s ease;}
.socialMediaLinks > a:hover .socailMediaLogo{transform: scale(1.2);}
.newsletterSec > span{display: block;font-size: 18px;line-height: 1em;margin-bottom: 5px;}
.newsletterSec > h5{font-size: 30px;line-height: 1em;font-weight: 400;margin-bottom: 15px;}
.newsletterInput{position: relative;width: 360px;}
.newsletterInput input{all: unset;width: 100%;padding: 6px 0; border-bottom: 1px solid var(--yellow);}
.newsletterInput input::placeholder{color: var(--yellow);font-size: 14px;line-height: 1em;}
.newsletterInput > a{position: absolute;top: 3px;right: 0;}
.footerBottomSec{display: flex;justify-content: space-between;color: var(--yellow);padding-top: 30px;border-top: 1px solid var(--yellow);}
.footerBottomSec > span{font-size: 16px;line-height: 1em;}
.footerBottomSec > em{display: block;font-style: normal;font-size: 16px;line-height: 1em;}

/*Banner*/
.bannerWrapper{position:relative;}
.bannerSwiper{position:relative !important;}
.bannerSlide{position:relative;height:100vh;display:flex;align-items:center;background-color: #000;}
.bannerBgImage{object-fit:cover;object-position:center;z-index:1;}
.bannerOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.35);z-index:2;}
.bannerContent{position:relative;z-index:3;color:#fff;text-align:center;max-width:975px;margin:0 auto;}
.bannerContent h1{display: flex;align-items: center;justify-content: center;margin-bottom: 50px;}
.bannerContent .img{max-width:100%;height:auto;}
.bannerContent p{font-size:18px;line-height:1.6;color: var(--yellow);}
.bannerWrapper .swiper-pagination{position:absolute!important;right:60px!important;left:auto!important;z-index:100!important;display:flex!important;flex-direction:column!important;gap:10px!important;width:auto!important;height:100vh;justify-content: center;}
.bannerWrapper .swiper-pagination-bullet{margin:0!important;width:15px!important;height:15px!important;background:transparent!important;transition:all .3s ease!important;border-radius:50%!important;border:1px solid #fff!important;position:relative!important;}
.bannerWrapper .swiper-pagination-bullet::before{content:''!important;position:absolute!important;top:50%!important;left:50%!important;transform:translate(-50%,-50%)!important;width:3px!important;height:3px!important;border-radius:50%!important;opacity:1!important}
.bannerWrapper .swiper-pagination-bullet::before{background:#fff!important;opacity:1!important;}
.bannerWrapper .swiper-pagination-bullet-active{transform:scale(1.3)!important;opacity:1!important;}
.bannerWrapper .swiper-pagination-bullet-active::before{background:#fff!important;opacity:1!important;transform:translate(-50%,-50%) scale(1.2)!important}

/*who we are*/
.whoWeAreWrap{position:relative;height:100vh;display:flex;align-items:center;background-color:#000;padding: 100px 0;}
.whoWeAreBg{object-fit:cover;object-position:center;z-index:1;}
.whoWeAreOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.6);z-index:2;}
.whoWeAreContent { z-index: 3; position: relative; align-items: center; height: calc(100vh - 200px); display: flex; flex-direction: column; justify-content: space-between; }
.whoWeAreTop{text-align:center;margin-bottom:60px;}
.whoWeAreTop h2{font-size:114px;font-weight:bold;margin-bottom:40px;color: var(--yellow);line-height: 1em;}
.whoWeAreTop p{font-size:18px;line-height:1.6em;max-width:930px;margin:0 auto;color:var(--yellow);}
.whoWeAreBottom{width: 100%;}
.whoWeAreImages{display:flex;justify-content:space-between;align-items:center;gap:40px;margin-top:40px;}
.whoWeAreImages .imageLeft,.whoWeAreImages .imageRight{max-width: 300px;}
.whoWeAreImg{width:100%;height:auto;border-radius:10px;transition:transform 0.3s ease;}
.whoWeAreImg:hover{transform:translateY(-5px);}

/*fuel your day*/
.fuelYourDayWrap{position:relative;height:100vh;display:flex;align-items:center;padding: 100px 0;border: 35px solid #42281B;background-color: #42281B;}
.fuelYourDayBg{object-fit:cover;object-position:center;z-index:1;border-radius: 5px;}
.fuelYourDayOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);z-index:2;border-radius: 5px;}    
.fuelYourDayContent{z-index: 3; position: relative; display: flex;flex-direction: column;justify-content: space-between;height: calc(100vh - 200px);}
.fuelYourDayTop{color: var(--yellow);}
.fuelYourDayTop em{font-size:90px;font-weight: bold;line-height: 1em;display: block;height: 45px;position: relative;left: -10px;}
.fuelYourDayTop h3{font-size:67px;font-weight:bold;line-height: 1em;}
.fuelYourDayTop span{font-size:29px;line-height:1em;font-weight:bold;}
.fuelYourDayBottom p{color: var(--yellow);font-size: 30px;line-height: 1em;font-weight: 600;}

/*Pellini Details*/
.pelliniDetailsWrap{position:relative;height:80vh;display:flex;align-items:center;padding: 120px 0;}
.pelliniDetailsBg{object-fit:cover;object-position:center;z-index:1;}
.pelliniDetailsContent{height:calc(80vh - 240px);z-index: 3; position: relative; display: flex;justify-content: space-between;padding-right: 160px;color: var(--yellow);}
.pelliniDetailsLft > h3{font-size:45px;line-height:1.3em;font-weight: 400;}
.pelliniDetailsLft > h3 > em{display: block;}
.pelliniDetailsLft > h3{font-size:45px;line-height:1.3em}
.pelliniDetailsRght{max-width: 490px;}
.pelliniDetailsRght > span{font-size:25px;line-height:1em;font-weight: 500;display: block;margin: 100px 0 25px;}
.pelliniDetailsRght > p{font-size:18px;line-height:1.6em;}  

/*marquee*/
.marqueeWrap{background:#151412;padding:60px 0;}
.marqueeItem span{font-size: 160px;font-weight: 700;opacity: 35%;color: #151412;fill: #151412;-webkit-text-stroke: 1px #fff;}

/*Product slider*/
.productSwiper{background: linear-gradient(to bottom, #1a1a1a 0%, #000000 100%);}
.productContent{display: flex;color: var(--yellow);padding: 80px 0;width: 100%;justify-content: space-between;align-items: center;}
.productTitle > span{font-size: 33px;line-height: 1em;font-weight: 100;}
.productTitle > h3{font-size: 80px;line-height: 1.2em;font-weight: 500;margin: 5px 0 75px;}
.productTitle > h3 > em{display: block;}
.productTitle > a{font-size: 20px;line-height: 1em;font-weight: 500;color:var(--yellow);text-decoration: underline;}
.productImageSec{display: flex;align-items: flex-end;}
.productImageSec .productImage1{position: relative;right: -120px;}
.productInfo > p{font-size: 40px;line-height: 1em;font-weight: 600;}
.productInfo > span{font-size: 25px;line-height: 1em;display: block;margin: 20px 0 40px;}
.productInfo > a{padding: 20px 30px;border: 1px solid #42281B;background: #42281B;border-radius: 50px;display: inline-flex;gap: 10px;align-items: center;transition: all 0.3s ease;}
.productInfo > a:hover{background: transparent;border: 1px solid #42281B;}
.productSwiper .swiper-button-next,.productSwiper .swiper-button-prev{position:absolute;bottom:100px;width:40px;height:40px;background:transparent;border:none;cursor:pointer;z-index:10;transition:transform .3s ease}
.productSwiper .swiper-button-prev{left:calc(50% - 30px)}
.productSwiper .swiper-button-next{left:calc(50% + 30px)}
.productSwiper .swiper-button-next::after,.productSwiper .swiper-button-prev::after{content:'';display:block;width:45px;height:45px;background-size:contain;background-repeat:no-repeat;background-position:center}
.productSwiper .swiper-button-next::after{background-image:url(/images/home/right-arrow.png)}
.productSwiper .swiper-button-prev::after{background-image:url(/images/home/left-arrow.png)}
.productSwiper .swiper-button-next:hover,.productSwiper .swiper-button-prev:hover{transform:scale(1.05);opacity:.8}

/*about*/
.aboutWrap{position:relative;height:90vh;display:flex;align-items:center;padding: 120px 0;}
.aboutBg{object-fit:cover;object-position:center;z-index:1;}
.aboutContent{display: flex;justify-content: space-between;color: var(--yellow);z-index: 3; position: relative;height: calc(90vh - 240px); }
.aboutContentLft > h3{font-size: 45px;line-height: 1.2em;font-weight: 600;}
.aboutContentLft > h3 > em{font-weight: 400;font-style: normal;display: block;}
.aboutContentRght{display: flex;align-items: flex-end;}
.aboutContentRght > p{font-size: 18px;line-height: 1.6em;max-width: 510px;margin-right: 60px;}

/*Testimonial*/
.testimonialWrap{padding: 100px 0;background: #151412;}
.testimonialHead{display: flex;justify-content: space-between;align-items: center;color: var(--yellow);margin-bottom: 120px;}
.testimonialTitile > span{font-size: 18px;text-transform: uppercase;display: block;margin-bottom: 12px;}
.testimonialTitile > h3{font-size: 40px;font-weight: 600;margin: 0;}
.testimonialBtn a{padding: 12px 26px;border: 1px solid var(--yellow);color:var(--yellow);border-radius: 25px;transition: all 0.3s ease;font-size: 18px;line-height: 1em;}
.testimonialBtn a:hover{background: var(--yellow);color: #fff;}
.testimonialCard{padding: 40px;height: 100%;display: flex;flex-direction: column;color: var(--yellow);}
.testimonialContent{flex: 1;margin-bottom: 30px;}
.testimonialText{font-size: 18px;line-height: 1.6em;margin: 0;text-align: center;}
.testimonialAuthor{text-align: center;margin: 70px 0 0;}
.authorImage{display: flex;align-items: center;justify-content: center;}
.authorImg{border-radius: 50%;object-fit: cover;}
.authorInfo h4{font-size: 22px;line-height: 1em;margin: 0;margin-top: 15px;}
.quoteImage{display: flex;justify-content: center;align-items: center;margin-bottom: 30px;}
.testimonialSwiper{padding:0 0 60px !important;}
.testimonialSwiper .swiper-slide{opacity:.2;transform:scale(0.5);transition:all .6s cubic-bezier(0.25,0.46,0.45,0.94);transform-origin:center}
.testimonialSwiper .swiper-slide-active{opacity:1;transform:scale(3);z-index:3}
.testimonialSwiper .swiper-slide-next,.testimonialSwiper .swiper-slide-prev{opacity:.4;transform:scale(0.2);z-index:2}
.testimonialSwiper .swiper-pagination{position:absolute!important;bottom:10px !important;left:50%!important;transform:translateX(-50%)!important;z-index:100!important;display:flex!important;flex-direction:row!important;gap:10px!important;width:auto!important;height:auto!important;justify-content: center;}
.testimonialSwiper .swiper-pagination-bullet{margin:0!important;width:15px!important;height:15px!important;background:transparent!important;transition:all .3s ease!important;border-radius:50%!important;border:1px solid #fff!important;position:relative!important;}
.testimonialSwiper .swiper-pagination-bullet::before{content:''!important;position:absolute!important;top:50%!important;left:50%!important;transform:translate(-50%,-50%)!important;width:3px!important;height:3px!important;border-radius:50%!important;opacity:1!important}
.testimonialSwiper .swiper-pagination-bullet::before{background:#fff!important;opacity:1!important;}
.testimonialSwiper .swiper-pagination-bullet-active{transform:scale(1.3)!important;opacity:1!important;}
.testimonialSwiper .swiper-pagination-bullet-active::before{background:#fff!important;opacity:1!important;transform:translate(-50%,-50%) scale(1.2)!important}

/*blogs*/
.blogsWrap{padding: 90px 0 120px;background: #000;}
.blogsHead{text-align: center;color: var(--yellow);margin-bottom: 75px;}
.blogsHead > span{font-size: 25px;font-weight: 100;line-height: 1em;display: block;margin-bottom: 2px;}
.blogsHead > h2{font-size: 80px;line-height: 1em;font-weight: 700;margin: 0;}
.blogsBody{display: grid;grid-template-columns: repeat(4, 1fr);gap: 30px;color: var(--yellow);}
.blogItem{border-bottom: 1px solid var(--yellow);}
.blogItem > span{font-size: 13px;line-height: 1em;margin: 30px 0 15px;display: block;}
.blogItem > h5{font-size: 25px;line-height: 1.6em;font-weight: 400 !important;min-height: 80px;}
.blogItem > p{font-size: 18px;line-height: 1.6em;margin: 15px 0 35px;min-height: 180px;}
.blogItem > a{font-size: 15px;line-height: 1em;margin-bottom: 15px;display: inline-block;}
.blogImg{overflow:hidden;}
.blogImg img{transition:all 0.5s ease;}
.blogItem:hover .blogImg img{transform:scale(1.05);}

/*Brochure*/
.BrochureWrap{background: #000;position: relative;}
.BrochureBg{object-fit:cover;object-position:center;z-index:1;}
.BrochureContent { color: #fff; z-index: 3; text-align: center; max-width: 445px;position: absolute; top: 50%; right: 0; transform: translate(-50%, -50%); }
.BrochureContent > p{font-size: 18px;line-height: 1.6em;margin: 0 0 35px;}
.BrochureContent > a{border-radius: 30px;font-size: 18px;padding: 18px 28px;background: #000;display: inline-block;}
