/*Banner*/
.bannerWrapper{position:relative;}
.bannerSwiper{position:relative !important;}
.bannerSlide{position:relative;height:100vh;display:flex;align-items:center;background-color: #000;}
.bannerBgImage{object-fit:cover;object-position:center;z-index:1;}
.bannerOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.35);z-index:2;}
.bannerContent{position:relative;z-index:3;color:#fff;text-align:center;max-width:975px;margin:0 auto;}
.bannerContent h1{display: flex;align-items: center;justify-content: center;margin-bottom: 50px;}
.bannerContent .img{max-width:100%;height:auto;}
.bannerContent p{font-size:18px;line-height:1.6;color: var(--yellow);}
.bannerWrapper .swiper-pagination{position:absolute!important;right:60px!important;left:auto!important;z-index:100!important;display:flex!important;flex-direction:column!important;gap:10px!important;width:auto!important;height:100vh;justify-content: center;}
.bannerWrapper .swiper-pagination-bullet{margin:0!important;width:15px!important;height:15px!important;background:transparent!important;transition:all .3s ease!important;border-radius:50%!important;border:1px solid #fff!important;position:relative!important;}
.bannerWrapper .swiper-pagination-bullet::before{content:''!important;position:absolute!important;top:50%!important;left:50%!important;transform:translate(-50%,-50%)!important;width:3px!important;height:3px!important;border-radius:50%!important;opacity:1!important}
.bannerWrapper .swiper-pagination-bullet::before{background:#fff!important;opacity:1!important;}
.bannerWrapper .swiper-pagination-bullet-active{transform:scale(1.3)!important;opacity:1!important;}
.bannerWrapper .swiper-pagination-bullet-active::before{background:#fff!important;opacity:1!important;transform:translate(-50%,-50%) scale(1.2)!important}

/*who we are*/
.whoWeAreWrap{position:relative;height:100vh;display:flex;align-items:center;background-color:#000;padding: 100px 0;}
.whoWeAreBg{object-fit:cover;object-position:center;z-index:1;}
.whoWeAreOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.6);z-index:2;}
.whoWeAreContent { z-index: 3; position: relative; align-items: center; height: calc(100vh - 200px); display: flex; flex-direction: column; justify-content: space-between; }
.whoWeAreTop{text-align:center;margin-bottom:60px;}
.whoWeAreTop h2{font-size:114px;font-weight:bold;margin-bottom:40px;color: var(--yellow);line-height: 1em;}
.whoWeAreTop p{font-size:18px;line-height:1.6em;max-width:930px;margin:0 auto;color:var(--yellow);}
.whoWeAreBottom{width: 100%;}
.whoWeAreImages{display:flex;justify-content:space-between;align-items:center;gap:40px;margin-top:40px;}
.whoWeAreImages .imageLeft,.whoWeAreImages .imageRight{max-width: 300px;}
.whoWeAreImg{width:100%;height:auto;border-radius:10px;transition:transform 0.3s ease;}
.whoWeAreImg:hover{transform:translateY(-5px);}

/*fuel your day*/
.fuelYourDayWrap{position:relative;height:100vh;display:flex;align-items:center;padding: 100px 0;border: 35px solid #42281B;background-color: #42281B;}
.fuelYourDayBg{object-fit:cover;object-position:center;z-index:1;border-radius: 5px;}
.fuelYourDayOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);z-index:2;border-radius: 5px;}    
.fuelYourDayContent{z-index: 3; position: relative; display: flex;flex-direction: column;justify-content: space-between;height: calc(100vh - 200px);}
.fuelYourDayTop{color: var(--yellow);}
.fuelYourDayTop em{font-size:90px;font-weight: bold;line-height: 1em;display: block;height: 45px;position: relative;left: -10px;}
.fuelYourDayTop h3{font-size:67px;font-weight:bold;line-height: 1em;}
.fuelYourDayTop span{font-size:29px;line-height:1em;font-weight:bold;}
.fuelYourDayBottom p{color: var(--yellow);font-size: 30px;line-height: 1em;font-weight: 600;}




